@import "../../node_modules/bootstrap/scss/functions";
@import "./variables";
@import "./bootstrap.scss";

$logo-color-1: #e9252a;
$logo-color-2: #f59a22;
$logo-color-3: #f05a27;
$logo-color-4: #fbd00d;

* {
    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background-color: $light;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $gray-600;
        border-radius: 3px;

        &:hover {
            background-color: $gray-800;
        }
    }
}

header {
    background: $white;
    padding: 3rem 0;

    .navbar-brand {
        z-index: 11;
    }

    .nav-link {
        color: $black;
        font-weight: 600;
        letter-spacing: 0.05rem;
    }


}

main {
    position: relative;
    z-index: 2;
    padding-bottom: 117px;
    
    .hero {
        background-color: $white;
        border-bottom-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
        padding-bottom: 5rem;
        
        .display-1 {
            background: -webkit-linear-gradient(-60deg, #545454 0%, #29282b 50%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            padding-bottom: 1rem;

            @include media-breakpoint-up(xl) {
                font-size: 8rem;
            }
        }
    }



    .hero-image {
        max-width: 100%;
        border-radius: $border-radius-2xl;
        margin-bottom: -150px;
        box-shadow: $box-shadow-lg;
    }

}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    text-align: center;
    padding: 3rem 0;
    color: $gray-600;
    font-size: $small-font-size;
}